*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}

body{
    background:#f4f4f4;
}

nav{
    background:#222;
    padding:15px;
    display:flex;
    gap:20px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.hero{
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}

.hero h1{
    font-size:4rem;
    margin-bottom:20px;
}

.hero p{
    font-size:1.3rem;
}
#search{
    width:90%;
    max-width:800px;
    padding:20px;
    font-size:22px;
    border:2px solid #ccc;
    border-radius:15px;
    margin-top:25px;
    box-shadow:0 5px 15px rgba(0,0,0,0.15);
}

#search:focus{
    border-color:#4CAF50;
    outline:none;
}
